* {
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
}
  
body {
    position: relative;
}

nav {
    background-color: black !important;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    z-index: 100000 !important;
}

.navbar-brand{
    text-decoration: none;
}

nav h1 {
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.navbar-brand {
    color: white !important;
}

.animated-navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-link {
    color: white !important;
}

.animated-navbar.scrolled {
    background-color: #313131 !important;
    color: white !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
    transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
}

.animated-navbar.scrolled .navbar-brand {
    color: white !important;
}

.animated-navbar.scrolled div ul li a {
    color: white !important;
}

.underline-animation {
    text-decoration: none;
    position: relative;
}

.underline-animation:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out 0s;
}

.underline-animation:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

main{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
}

.active-link{
    color: #0C31EA;
    cursor: pointer;
}

.active-link:hover{
    text-decoration: underline;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  margin-bottom: 5vh;
}

.profile_image{
    width: 90px;
    object-fit: cover;
    height: 90px;
}

footer {
    display: flex;
    background-color: #313131;
    color: #fff;
    padding: 20px;
}

footer section {
    padding: 30px;
}

footer section p {
    font-size: 12px;
    margin-top: 10px;
}

footer section section {
    padding: 0px;
    margin-top: 10px;
}

footer section section a {
    margin-right: 5px;
    cursor: pointer;
}

body{
    display: flex;
    position: relative;
}

.sidebar{
    min-height: 100vh;
    width: 25%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .logo{
    width: 100%;
    height: 150px;
}

.main-section{
    width: 75%;
}

.header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 3vh;
    margin-bottom: 10vh;
}

.header button{
    background-color: #0C31EA;
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 4px;
}

table{
    width: 90%;
    margin: auto;
    border-collapse: collapse; 
}

th{
    font-weight: 500;
    font-size: 13px;
    padding: 5px;
}

tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

td{
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

.edit, .delete{
    cursor: pointer;
    margin: 4px;
}

.profile_image{
    border-radius: 50%;
    object-fit: cover;
}

.new_update_row{
    padding: 40px;
}

.toaster {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    padding: 20px;
    background-color: #B81606;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
    opacity: 0;
    z-index: 9999;
}

.toaster-message {
    font-size: 18px;
    color: white;
}

@keyframes fadeOut {
    0%    { opacity: 1; }
    20%   { opacity: 1; }
    75%   { opacity: 1; }
    100%  { opacity: 0; }
}

.fadeAnimation{
    animation: fadeOut 2s;
}

.modal{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    min-height: 100vh;
    width: 100%;
}

.modal-content{
    background-color: #fff;
    width: 20%;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

.close{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -5px;
    color: gray;
}

form{
    display: flex;
    flex-direction: column;
}


input{
    width: 90%;
    padding: 3px;
    outline: none;
    margin-bottom: 10px;
}

input::placeholder{
    font-size: 12px;
}

input[type = 'submit']{
    background-color: #313131;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 94%;
    border-radius: 2px;
    margin-top: 10px;
}

input[name='age'], input[name="rollNo"]{
    width: 30px;
}

input[name="rollNo"]{
    width: 50px;
}

.form-title{
    margin-bottom: 20px;
}
